@CHARSET "UTF-8";

/* h1{ */
/* 	font-size: 36px; */
/* 	color: green; */
/* } */

body{
	margin-top: 80px;
	background-color: #EBF4FA;
}

  
  #map_container {
  position: relative;
  width: 100%;
  height: 100%; }

#map_canvas {
  position: relative;
  top: 11%;
  width: 84%;
  height: 78%;
  margin: 0 auto; }